{% extends 'blank.html' %}

{% block title %}
    Process
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-9 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">PCR Process</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <form action="{% url 'pcr_process' %}" , method="post">
                            {% csrf_token %}
                            <div id="step-list">
                                {{ forms.management_form }}
                                {% for form in forms %}
                                    {#                                If normal step#}
                                    {% if form.temperature.value %}
                                        {#                                  if goto step  #}
                                        <div class="row stepper normal-stepper" id="dividx-{{ form.step.value |add:"-1" }}">

                                            <div class="col-xs-2 step">
                                                {{ form.step }}
                                            </div>

                                            <div class="col-xs-2 temperature">
                                                {{ form.temperature }}
                                            </div>

                                            <div class="col-xs-3 process-time">
                                                {{ form.process_time }}
                                            </div>

                                            <div class="col-xs-2 cycle-count">
                                                {{ form.cycle_count }}
                                            </div>

                                            <div class="col-xs-1 remove-button">
                                                <a onclick="remove_step({{ form.step.value |add:"-1" }})" class="btn btn-block btn-danger">
                                                    <i class="fa fa-minus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row stepper go-to-stepper" id="dividx-{{ form.step.value |add:"-1" }}">
                                            <div class="col-xs-2 step">
                                                {{ form.step }}
                                            </div>
                                            <div class="col-xs-2 go_to_step">
                                                {{ form.go_to_step }}
                                            </div>

                                            <div class="col-xs-2 go_to_count">
                                                {{ form.go_to_count }}
                                            </div>
                                            <div class="col-xs-1 remove-button">
                                                <a onclick="remove_step({{ form.step.value |add:"-1" }})" class="btn btn-block btn-danger">
                                                    <i class="fa fa-minus"></i>
                                                </a>
                                            </div>

                                        </div>
                                    {% endif %}
                                    <br class="brclass" id="bridx-{{ form.step.value |add:"-1" }}">
                                {% endfor %}
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-1">
                                    <a type="submit" onclick="add_new_normal_step()" class="btn btn-block btn-success">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="col-xs-2">
                                    <a type="submit" onclick="add_new_go_to_step()" class="btn btn-block btn-success">
                                        Go To
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    <button type="submit" class="btn btn-block btn-primary">
                                        Execute Process
                                    </button>
                                </div>
                                <div class="col-xs-3">
                                    <a type="submit" onclick="clear_steps()" class="btn btn-block btn-danger">Clear Steps</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    Template for normal step#}
    <div style="display:none;">
        <div class="row" id="sample_normal_step">
            <div class="col-xs-2 step">
                <input readonly="" type="number" required="" name="" placeholder="Step" id="" step="any" class="form-control">
            </div>

            <div class="col-xs-2 temperature">
                <input type="number" name="" required="" placeholder="Temperature" id="" class="form-control">
            </div>

            <div class="col-xs-3 process-time">
                <input type="number" name="" required="" placeholder="Process Time (Second)" id="" class="form-control">
            </div>

            <div class="col-xs-2 cycle-count">
                <input type="number" name="" required="" placeholder="Cycle Count" id="" class="form-control">
            </div>

            <div class="col-xs-1 remove-button">
                <a onclick="" class="btn btn-block btn-danger">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
        </div>
    </div>
    {#    Template for go to step#}
    <div style="display:none;">
        <div class="row" id="sample_go_to_step">
            <div class="col-xs-2 step">
                <input readonly="" type="number" required="" name="" placeholder="Step" id="" step="any" class="form-control">
            </div>
            <div class="col-xs-2 go_to_step">
                <input type="text" name="" required="" placeholder="Go To Step" id="" class="form-control">
            </div>

            <div class="col-xs-2 go_to_count">
                <input type="number" name="" required="" placeholder="Go To Count" id="" class="form-control">
            </div>

            <div class="col-xs-1 remove-button">
                <a onclick="" class="btn btn-block btn-danger">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block added_js_function %}
    <script>

        function remove_step(id) {
            swal({
                title: 'Remove step ' + (parseInt(id) + 1) + '?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Remove it!'
            }).then((result) => {
                if (result.value) {
                    //Remove the div
                    $('#dividx-' + id).remove();
                    // Remove the line break
                    $('#bridx-' + id).remove();

                    // Regenerate the index number
                    // Fund the stepper class
                    $('.content').find('.stepper').each(function (index) {
                        if ($(this).hasClass('normal-stepper')) {
                            // Change the id
                            $(this).attr('id', 'dividx-' + index)

                            // Step
                            $(this).find('.step >input').attr('name', 'form-' + index + '-step');
                            $(this).find('.step >input').attr('id', 'id_form-' + index + '-step');
                            $(this).find('.step >input').attr('value', index + 1);
                            // Temperature input
                            $(this).find('.temperature >input').attr('name', 'form-' + index + '-temperature');
                            $(this).find('.temperature >input').attr('id', 'id_form-' + index + '-temperature');
                            // Process time
                            $(this).find('.process-time >input').attr('name', 'form-' + index + '-process_time');
                            $(this).find('.process-time >input').attr('id', 'id_form-' + index + '-process_time');
                            // cycle count
                            $(this).find('.cycle-count >input').attr('name', 'form-' + index + '-cycle_count');
                            $(this).find('.cycle-count >input').attr('id', 'id_form-' + index + '-cycle_count');
                            // Remove button
                            $(this).find('.remove-button >a').attr('onclick', 'remove_step(' + index + ')');
                        }
                        else {
                            // Change the id
                            $(this).attr('id', 'dividx-' + index)
                            // Step
                            $(this).find('.step >input').attr('name', 'form-' + index + '-step');
                            $(this).find('.step >input').attr('id', 'id_form-' + index + '-step');
                            $(this).find('.step >input').attr('value', index + 1);
                            // Go to step
                            $(this).find('.go_to_step >input').attr('name', 'form-' + index + '-go_to_step');
                            $(this).find('.go_to_step >input').attr('id', 'id_form-' + index + '-go_to_step');
                            // go to count
                            $(this).find('.go_to_count >input').attr('name', 'form-' + index + '-go_to_count');
                            $(this).find('.go_to_count >input').attr('id', 'id_form-' + index + '-go_to_count');
                            // Remove button
                            $(this).find('.remove-button >a').attr('onclick', 'remove_step(' + index + ')');

                        }
                    });
                    // Repair the line break
                    $('#step-list').find('.brclass').each(function (index) {
                        $(this).attr('id', 'bridx-' + index)
                    });
                    // Decrease total form
                    var total_forms = $('#id_form-TOTAL_FORMS');
                    total_forms.attr('value', parseInt(total_forms.val()) - 1)
                    swal(
                        'Removed!',
                        'Step has been removed.',
                        'success'
                    )
                }
            })
        }

        function clear_steps() {
            swal({
                title: 'Clear all steps ?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Clear it!'
            }).then((result) => {
                if (result.value) {
                    $.get("{% url 'clear_process' %}", function (data, status) {
                        location. reload(true);
                    });
                    swal(
                        'Removed!',
                        'Steps cleared.',
                        'success'
                    )
                }
            })
        }

        function add_new_normal_step() {
            {#There is difference between step in ui and step in BE, +1 difference #}
            var normal_step = $('#sample_normal_step');
            size = $('#step-list >div').length;
            // Clone the step
            element = null;
            element = normal_step.clone();
            // Change the id
            element.attr('id', 'dividx-' + size)
            // Add new class
            element.addClass('stepper')
            element.addClass('normal-stepper')

            // Step
            element.find('.step >input').attr('name', 'form-' + size + '-step');
            element.find('.step >input').attr('id', 'id_form-' + size + '-step');
            element.find('.step >input').attr('value', size + 1);
            // Temperature input
            element.find('.temperature >input').attr('name', 'form-' + size + '-temperature');
            element.find('.temperature >input').attr('id', 'id_form-' + size + '-temperature');
            // Process time
            element.find('.process-time >input').attr('name', 'form-' + size + '-process_time');
            element.find('.process-time >input').attr('id', 'id_form-' + size + '-process_time');
            // cycle count
            element.find('.cycle-count >input').attr('name', 'form-' + size + '-cycle_count');
            element.find('.cycle-count >input').attr('id', 'id_form-' + size + '-cycle_count');
            // Remove button
            element.find('.remove-button >a').attr('onclick', 'remove_step(' + size + ')');

            element.appendTo('#step-list');
            $('#step-list').append('<br class="brclass" id="bridx-' + size + '">');

            // Add total form
            var total_forms = $('#id_form-TOTAL_FORMS');
            total_forms.attr('value', parseInt(total_forms.val()) + 1)

        }

        function add_new_go_to_step() {
            var normal_step = $('#sample_go_to_step');
            size = $('#step-list >div').length;
            // Clone the step
            element = null;
            element = normal_step.clone();
            // Change the id
            element.attr('id', 'dividx-' + size)
            // Add new class
            element.addClass('stepper')
            element.addClass('go-to-stepper')
            // Step
            element.find('.step >input').attr('name', 'form-' + size + '-step');
            element.find('.step >input').attr('id', 'id_form-' + size + '-step');
            element.find('.step >input').attr('value', size + 1);
            // Go to step
            element.find('.go_to_step >input').attr('name', 'form-' + size + '-go_to_step');
            element.find('.go_to_step >input').attr('id', 'id_form-' + size + '-go_to_step');
            // go to count
            element.find('.go_to_count >input').attr('name', 'form-' + size + '-go_to_count');
            element.find('.go_to_count >input').attr('id', 'id_form-' + size + '-go_to_count');
            // Remove button
            element.find('.remove-button >a').attr('onclick', 'remove_step(' + size + ')');

            element.appendTo('#step-list');
            $('#step-list').append('<br class="brclass" id="bridx-' + size + '">');

            // Add total form
            var total_forms = $('#id_form-TOTAL_FORMS');
            total_forms.attr('value', parseInt(total_forms.val()) + 1)
        }


    </script>
{% endblock %}


