{% extends 'blank.html' %}
{% block title %}
    Info
{% endblock %}

{% block info_active %}
    active
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-4 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Temperature Info</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="small-box bg-red">
                            <div class="inner">
                                <p>Cover Temperature</p>
                                <h3 id="cover-current-temp">N/A</h3>
                            </div>
                            <div class="icon">
                                <i class="ion ion-thermometer"></i>
                            </div>
                        </div>

                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <p>Sample Temperature</p>
                                <h3 id="main-current-temp">N/A</h3>
                            </div>
                            <div class="icon">
                                <i class="ion ion-thermometer"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Process Info</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3>Current Process</h3>
                                <p id="current-process">N/A</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-information"></i>
                            </div>
                        </div>
                        <a type="submit" href="{% url 'stop_process' %}" class="btn btn-block btn-danger">Stop Process</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block added_js %}
    <script>
        window.setInterval(function () {
            $.get("{% url 'get_temp_info' %}", function (data) {
                $("#main-current-temp").text(data.data.main_current_temp + ' °C');
                $("#cover-current-temp").text(data.data.cover_current_temp + ' °C');
                $("#current-process").text(data.data.current_process);
                console.log(data.data)
            });
        }, 2000);
    </script>

{% endblock %}