{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PCR Control | Static</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->

  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'Ionicons/css/ionicons.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'adminlte/css/AdminLTE.min.css' %}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static 'iCheck/square/blue.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html">Static<b>PCRControl</b></a>
  </div>
  <div class="login-box-body">
      <div class="small-box bg-aqua">
            <div class="inner">
                <p>Suhu Saat ini</p>
                <h3 id="current-temp"></h3>
            </div>
            <div class="icon">
              <i class="ion ion-thermometer"></i>
            </div>
      </div>
      <div class="small-box bg-aqua">
            <div class="inner">
              <h3>Proses Saat Ini</h3>
              <p id="current-process"></p>
            </div>
            <div class="icon">
              <i class="ion ion-information"></i>
            </div>
      </div>
    <p >Silahkan isi jumlah siklus yang diinginkan</p>

    <form action="{% url 'static_pcr_process' %}" method="post">
        {% csrf_token %}
      <div class="form-group has-feedback">
        {{ form.cycle_count }}
        <span class="glyphicon glyphicon-refresh form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary btn-flat">Jalankan</button>
        </div>
          <div class="col-xs-6">
          <a type="submit" href="{% url 'stop_process' %}" class="btn btn-danger btn-flat">Hentikan Proses</a>
        </div>

        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'iCheck/icheck.min.js' %}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
</script>
<script src="{% static 'swal/sweetalert2.js' %}"></script>

<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support -->
<script src="{% static 'polyfill/promise-polyfill.js' %}"></script>
{% load sweetify %}
{% sweetify %}
<script>
    window.setInterval(function(){
        $.get( "{% url 'get_temp_info' %}", function( data ) {
        $("#current-temp").text(data.data.main_current_temp + ' °C' );
        $("#current-process").text(data.data.current_process);
            console.log(data.data)
    });
    }, 1000);
</script>
</body>
</html>
